<div class="container" id="flexgrow">
				<div class="fgitem" id="item01fg" style="flex-grow: 1;">1</div>
				<div class="fgitem" id="item02fg" style="flex-grow: 1;">2</div>
				<div class="fgitem" id="item03fg" style="flex-grow: 1;">3</div>
				<div class="fgitem" id="item04fg" style="flex-grow: 1;">4</div>
				<div class="fgitem" id="item05fg" style="flex-grow: 1;">5</div>
			</div>



/*items contenant*/
#item1 {
	background-color: green;}
#item2 {
	background-color: blue;}
#item3 {
	background-color: yellow;}
#item4 {
	background-color: orange;}
#item5 {
	background-color: red;}
#item6 {
	background-color: green;}
#item7 {
	background-color: blue;}
#item8 {
	background-color: yellow;}
#item9 {
	background-color: orange;}
#item10 {
	background-color: red;}
#item11 {
	background-color: green;}
#item12 {
	background-color: blue;}
#item13 {
	background-color: yellow;}
#item14 {
	background-color: orange;}

/*items contenu align-self*/
#asitem01 {
	background-color: limegreen;}
#asitem02 {
	background-color: royalblue;}
#asitem03 {
	background-color: khaki;}
#asitem04 {
	background-color: goldenrod;}
#asitem05 {
	background-color: crimson;}
/*items contenu flex-grow*/
#fgitem01 {
	background-color: limegreen;}
#fgitem02 {
	background-color: royalblue;}
#fgitem03 {
	background-color: khaki;}
#fgitem04 {
	background-color: goldenrod;}
#fgitem05 {
	background-color: crimson;}
/*items contenu flex-shrink*/
#fsitem01 {
	background-color: limegreen;}
#fsitem02 {
	background-color: royalblue;}
#fsitem03 {
	background-color: khaki;}
#fsitem04 {
	background-color: goldenrod;}
#fsitem05 {
	background-color: crimson;}
/*items contenu order*/
#oitem01 {
	background-color: limegreen;}
#oitem02 {
	background-color: royalblue;}
#oitem03 {
	background-color: khaki;}
#oitem04 {
	background-color: goldenrod;}
#oitem05 {
	background-color: crimson;}