/*Général*/
@font-face {     
	src: url("police/Triforce.ttf");      
	font-family: "triforce"; 
}

body {
	font-family: "triforce";
	margin: 0;
	background-image: linear-gradient(to right, #659360, #B5FE7E);
}	

/*Boutons*/
button {
	margin: 5px 10px 5px 0;
	box-shadow: 4px 4px 5px black;
}
.cfg, .cfs, .co {
	width: 50px;
	margin-right: 25px;
	box-shadow: 4px 4px 5px black;
}

h3 {
	color: #204314;
	text-align: center;
	font-size: 40px;
	text-shadow: 1px 1px 1px black;
}

hr {
	visibility: hidden;
}

div.title-mini-link {
	width: 30%;
	display: flex;
	justify-content: flex-start;
	margin-left: 5%;
}

div.title-mini-link img {
	width: 110px;
	height: 110px;
}

div.title-mini-link h4 {
	padding-top: 5%;
	font-size: 30px;
	color: #14738a;
	text-shadow: 1px 1px 1px black;
}

.title-l {
	margin: 6% 0 6% 0;
}

h5 {
	margin-left: 5%;
	font-size: 25px;
	text-shadow: 1px 1px 1px black;
}

div#titre-fg {
	display: flex;
	justify-content: space-around;
	width: 50%;
	margin-left: 30%;
}

img#img-titre {
	width: 200px;
}

div#titre-fg h3{
	padding-top: 2%;
}

div#titre h3 {
	font-size: 50px;
}

#titre {
	margin: 6% 0 6% 0;
}

#description {
	width: 60%;
	margin: auto;
}

.description {
	text-align: center;
	color: black;
	font-size: 18px;
}

/*Navbar*/
nav {
	background-color: black;
	color: white;
	padding: 1% 6% 1% 3%;
}

#img-nav {
	width: 100px;
}

#navbar {
	display: flex;
	justify-content: space-between;
}

div#liens {
	padding-top: 2%;
	display: flex;
	justify-content: space-between;
	width: 40%;
}

div#liens a {
	font-size: 25px;
	color : #2e970a;
}

div#li img {
	width: 40px;
}

/*Jumbotron*/
.hero {
	background-image: url("images/image058.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;
	padding: 20% 0 20% 0;
	margin-bottom: 2%;
	font-size: 10px;
}

.containerj {
	padding-left: 20%;
}

h1.title {
	font-size: 70px;
}

h2.subtitle {
	font-size: 30px;
}

/*Présentation*/
div#presentation {
	text-align: center;
}

div#presentation img {
	width: 20%;
}


/*FlexBox*/
.container {
	display: flex;
	background-color: #F0FFE7;
	border: 1px black solid;
	border-radius: 5px;
	padding: 5px;
	margin: 15px 40px 40px 0;
	width: 70%;
	height: 50%;
	box-shadow: 6px 6px 5px black;
	text-shadow: 2px 2px 1px black;
	color: #F0FFE7;
}

.flexbox {
	margin-left: 5%;
}

/*Contenant*/
#flexdirection {}
.fditem {
	width: 100px;
	height: 50px;
	border: 1px #002F3E solid;
	border-radius: 4px;
	padding: 5px;
	margin: 5px;
}

#justifycontent {}
.jcitem {
	width: 100px;
	height: 50px;
	border: 1px #002F3E solid;
	border-radius: 4px;
	padding: 5px;
	margin: 5px;
}

#alignitems {
	height: 250px;
}
.aiitem {
	width: 150px;
	border: 1px #002F3E solid;
	border-radius: 4px;
	padding: 25px;
	margin: 5px;
}

#aligncontent {
	height: 350px;
	flex-wrap: wrap;
}
.acitem {
	width: 150px;
	border: 1px #002F3E solid;
	border-radius: 4px;
	padding: 15px;
	margin: 5px;
}

#flexwrap {}
.fwitem {
	width: 150px;
	height: 60px;
	border: 1px #002F3E solid;
	border-radius: 4px;
	padding: 5px;
	margin: 5px;
}

/*Contenu*/
#alignself {
	height: 250px;
	align-items: center;
}
.asitem {
	width: 100px;
	border: 1px #186C00 solid;
	border-radius: 4px;
	padding: 25px;
	margin: 5px;
}
#asitem03 {
	width: 100px;
	border: 1px #186C00 solid;
	background-color: khaki;
	border-radius: 4px;
	padding: 40px;
	margin: 5px;
}

#flexgrow {}
.fgitem {
	flex-grow: 1;
	border: 1px #186C00 solid;
	border-radius: 4px;
	padding: 25px;
	margin: 5px;
}

#flexshrink {}
.fsitem {
	flex-shrink: 1;
	width: 200px;
	border: 1px #186C00 solid;
	border-radius: 4px;
	padding: 25px;
	margin: 5px;
}

#order {}
.oitem {
	width: 150px;
	border: 1px #186C00 solid;
	border-radius: 4px;
	padding: 25px;
	margin: 5px;
}

/*items contenant*/
#item1 {
	background-color: #BCEFFF;}
#item2 {
	background-color: #74DDFF;}
#item3 {
	background-color: #4ED4FF;}
#item4 {
	background-color: #33CEFF;}
#item5 {
	background-color: #03C2FF;}
#item6 {
	background-color: #00B0E8;}
#item7 {
	background-color: #00A2D6;}
#item8 {
	background-color: #0098C9;}
#item9 {
	background-color: #0087B2;}
#item10 {
	background-color: #00779D;}
#item11 {
	background-color: #006485;}
#item12 {
	background-color: #00546F;}
#item13 {
	background-color: #004358;}
#item14 {
	background-color: #002F3E;}

/*items contenu align-self*/
#asitem01 {
	background-color: #BEFFAB;}
#asitem02 {
	background-color: #89FF67;}
#asitem03 {
	background-color: #3AFF00;}
#asitem04 {
	background-color: #2CC100;}
#asitem05 {
	background-color: #186C00;}

/*items contenu flex-grow*/
#fgitem01 {
	background-color: #BEFFAB;}
#fgitem02 {
	background-color: #89FF67;}
#fgitem03 {
	background-color: #3AFF00;}
#fgitem04 {
	background-color: #2CC100;}
#fgitem05 {
	background-color: #186C00;}

/*items contenu flex-shrink*/
#fsitem01 {
	background-color: #BEFFAB;}
#fsitem02 {
	background-color: #89FF67;}
#fsitem03 {
	background-color: #3AFF00;}
#fsitem04 {
	background-color: #2CC100;}
#fsitem05 {
	background-color: #186C00;}

/*items contenu order*/
#oitem01 {
	background-color: #BEFFAB;}
#oitem02 {
	background-color: #89FF67;}
#oitem03 {
	background-color: #3AFF00;}
#oitem04 {
	background-color: #2CC100;}
#oitem05 {
	background-color: #186C00;}



/*GridCSS*/

div.css {
	width : 30%;
	color: white;
	background-color: black;
	margin-top: 1%;
	height: 12%;
	padding: 15px;
	border-radius: 5px;
}

div.cote {
	display: flex;
	justify-content: space-between;
	margin: 0 5% 0 5%;
}
/*Définir une grille*/

/*Display*/
div.containerg#display {
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: (3, 1fr);
	width: 30%;
}
#display {
	border: 1px black solid;
	border-radius: 5px;
	padding: 20px;
	background-color: #F0FFE7;
	box-shadow: 6px 6px 5px black;
	text-shadow: 2px 2px 1px black;
	color: #F0FFE7;
}

div.itemd {
	border: 1px solid #14738a;
	padding: 1% 10% 1% 10%;
	text-align: center;

}

/*Grid-template-columns*/
div.containerg#columns {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	width: 30%;
}
#columns {
	border: 1px black solid;
	border-radius: 5px;
	padding: 20px;
	background-color: #F0FFE7;
	box-shadow: 6px 6px 5px black;
	text-shadow: 2px 2px 1px black;
	color: #F0FFE7;
}

/*Grid-template-rows*/
div.containerg#rows {
	display: grid;
	grid-template-columns: repeat(4, 1fr); 
	width: 30%;
}
#rows {
	border: 1px black solid;
	border-radius: 5px;
	padding: 20px;
	background-color: #F0FFE7;
	box-shadow: 6px 6px 5px black;
	text-shadow: 2px 2px 1px black;
	color: #F0FFE7;
}

/*Grid-template-areas*/
div.containerg#areas {
	display: grid;
	width: 30%;
}
#areas {
	border: 1px black solid;
	border-radius: 5px;
	padding: 20px;
	background-color: #F0FFE7;
	box-shadow: 6px 6px 5px black;
	text-shadow: 2px 2px 1px black;
	color: #F0FFE7;
}

div.itemd#item1a {
	grid-area: un;
}
div.itemd#item2a {
	grid-area: deux;
}
div.itemd#item3a {
	grid-area: trois;
}
div.itemd#item4a {
	grid-area: quatre;
}

#item1a {
	background-color: #BCEFFF;
}
#item2a {
	background-color: #33CEFF;
}
#item3a {
	background-color: #0098C9;
}
#item4a {
	background-color: #00546F;
}


/*Gaps*/
div.containerg#gaps {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	width: 30%;
}
#gaps {
	border: 1px black solid;
	border-radius: 5px;
	padding: 20px;
	background-color: #F0FFE7;
	box-shadow: 6px 6px 5px black;
	text-shadow: 2px 2px 1px black;
	color: #F0FFE7;
}

/*Grid-row*/
div.containerg#grid-row {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	width: 30%;
}
#grid-row {
	border: 1px black solid;
	border-radius: 5px;
	padding: 20px;
	background-color: #F0FFE7;
	box-shadow: 6px 6px 5px black;
	text-shadow: 2px 2px 1px black;
	color: #F0FFE7;
}

div.itemd#item1r {
	background-color: #BEFFAB;
}

/*Grid-column*/
div.containerg#grid-column {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	width: 30%;
}
#grid-column {
	border: 1px black solid;
	border-radius: 5px;
	padding: 20px;
	background-color: #F0FFE7;
	box-shadow: 6px 6px 5px black;
	text-shadow: 2px 2px 1px black;
	color: #F0FFE7;
}

div.itemd#item1c {
	background-color: #89FF67;
}

/*Grid-area*/
div.containerg#grid-area {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	width: 30%;
}
#grid-area {
	border: 1px black solid;
	border-radius: 5px;
	padding: 20px;
	background-color: #F0FFE7;
	box-shadow: 6px 6px 5px black;
	text-shadow: 2px 2px 1px black;
	color: #F0FFE7;
}

div.itemd#item1ar {
	background-color: #3AFF00;
}

div#grid-are {
	margin-bottom: 5%;
}

/*Footer*/
#footer {
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-between;
	padding: 2% 3% 0 3%;
	font-size: 18px;
}

#img-footer {
	width: 200px;
}
